---
title: Curriculum Vitae
layout: default
---

<section>
    Website under construction.
</section>

<!--
<div style="text-align: right;">
    <p>(You can also get this curriculum vitæ <a href="curriculum-vitae.pdf">as PDF</a>.)</p>
</div>

<section id="career">
    <h3>Career</h3>

    <table>
        {% for exp in site.data.experiences %}
            {% if exp.selected %}
                {% include experience.html %}
            {% endif %}
        {% endfor %}
        {% for exp in site.data.education %}
            {% if exp.selected %}
                {% include experience.html %}
            {% endif %}
        {% endfor %}

        <tr>
            <td class="empty-inner-margin"></td>
            <td>See more about <a href="#professional-experience">my professional experience</a>,
                or about <a href="#education">my education</a>.</td>
        </tr>
    </table>
</section>

<section id="sec-phd-thesis">
    <h3>PhD Thesis</h3>

    <table>
        <tr>
            <td class="inner-margin">Goal</td>
            <td>Applying formal techniques to Shell scripts in order to find bugs in Debian packages.</td>
        </tr>

        <tr>
            <td class="inner-margin">Logics</td>
            <td>Researching on the decidability of feature tree logics, with
                efficiency considerations and implementation of satisfiability
                solvers.</td>
        </tr>

        <tr>
            <td class="inner-margin">Implem.</td>
            <td>Writing tools to parse, transform and analyse Shell scripts and
                Debian packages. This comprises reading standard, modeling various
                real-world objects and implementing. The tools had to be able to
                scale to thousands of packages.</td>
        </tr>

        <tr>
            <td class="inner-margin">Bugs</td>
            <td>Reported 152 bugs, 109 of which have been fixed.</td>
        </tr>

        <tr>
            <td class="empty-inner-margin"></td>
            <td><a href="phd-thesis.html">See more about my PhD thesis.</a></td>
        </tr>
    </table>
</section>

<section id="interests">
    <h3>Interests</h3>

    <table>
        <tr>
            <td class="inner-margin">Abstract</td>
            <td>I like specifications, abstraction and modularisation. I firmly
                believe in strongly typed functional programming, compilers,
                formal methods and program verification.</td>
        </tr>

        <tr>
            <td class="inner-margin">Concrete</td>
            <td>I enjoy working on low-level objects — network, systems or code
                optimisation, for instance. I am not afraid to dig into
                standards and RFCs.</td>
        </tr>

        <tr>
            <td class="inner-margin">Packaging</td>
            <td>I try to write good code, well designed and documented, used in
                practice.</td>
        </tr>

        <tr>
            <td class="inner-margin">System</td>
            <td>On my free time, I administrate a Debian server providing
                websites, email, cloud, etc.</td>
        </tr>

        <tr>
            <td class="inner-margin">Talks</td>
            <td>I love teaching and giving talks and I am said to be good at it.</td>
        </tr>
    </table>
</section>

<section id="languages">
    <h3>Languages</h3>

    <table>
        <tr>
            <td class="inner-margin">Main</td>
            <td>OCaml, POSIX Shell</td>
            <td class="inner-margin">Natural</td>
            <td>Fluent in French and English</td>
        </tr>

        <tr>
            <td class="inner-margin">Good</td>
            <td>PHP/SQL/HTML/CSS, TeX/LaTeX</td>
            <td class="inner-margin">OK</td>
            <td>C, Java, Python, JavaScript, Lisp</td>
        </tr>
    </table>
</section>

<section id="outside-work">
    <h3>Outside of Work</h3>

    <table>
        <tr>
            <td class="inner-margin">Music</td>
            <td>I spend a lot of time playing music (piano & clarinet mostly,
                but I love trying all kind of instruments), writing music and
                typesetting music (with LilyPond).</td>
        </tr>

        <tr>
            <td class="inner-margin">SCD</td>
            <td>I also spend an awful lot of time doing Scottish Country
                Dancing. This includes dancing it, teaching it, playing music
                for it and organising local and international events.</td>
        </tr>
    </table>
</section>

<section id="professional-experience">
    <h3>Full Professional Experience</h3>

    <table>
        {% for exp in site.data.experiences %}
            {% include experience.html %}
        {% endfor %}
    </table>
</section>

<section id="education">
    <h3>Education</h3>

    <table>
        {% for exp in site.data.education %}
            {% include experience.html %}
        {% endfor %}
    </table>
</section>

<section id="misc-experience">
    <h3>Miscellaneous Experience</h3>

    <table>
        {% for exp in site.data.misc-experiences %}
            {% include experience.html %}
        {% endfor %}
    </table>
</section>

<section id="publications">
    <h3>Selected Publications</h3>

    <table>
        {% for publi in site.data.publications %}
            {% if publi.selected %}
                {% include publication.html %}
            {% endif %}
        {% endfor %}

        <tr>
            <td class="empty-inner-margin"></td>
            <td><a href="publications.html">See all my publications.</a></td>
        </tr>
    </table>
</section>

<section id="talks">
    <h3>Selected Talks</h3>

    <table>
        {% for talk in site.data.talks %}
            {% if talk.selected %}
                {% include talk.html %}
            {% endif %}
        {% endfor %}

        <tr>
            <td class="empty-inner-margin"></td>
            <td><a href="talks.html">See all my talks.</a></td>
        </tr>
    </table>
</section>

<section id="teaching">
    <h3>Teaching</h3>

    <table>
        {% for teachi in site.data.teaching %}
            {% include teaching-item.html %}
        {% endfor %}
    </table>
</section>
-->
