<tr {% if publi.id %}id="{{ publi.id }}"{% endif %}
    class="
        highlightable-target
        {% if publi.future %}future{% endif %}
        ">
    <td class="inner-margin">{{ publi.date }}</td>
    <td>
        <strong>{{ publi.title }}</strong>
        {% if publi.place %}[{% include maybe-link.html entry=publi.place %}]{% endif %}
        <br/>
        {{ publi.authors }}
        <br/>
        {% if publi.doi %}⋅ <a href="{{ publi.doi }}">DOI</a>{% endif %}
        {% if publi.arxiv %}⋅ <a href="{{ publi.arxiv }}">arXiv</a>{% endif %}
        {% if publi.pdf %}⋅ <a href="{{ publi.pdf }}">PDF</a>{% endif %}
    </td>
</tr>
