<tr {% if publi.id %}id="{{ publi.id }}"{% endif %}
    class="
        highlightable-target
        {% if publi.future %}future{% endif %}
        ">
    <td class="inner-margin">{{ publi.date }}</td>
    <td>
        <strong>{{ publi.title }}</strong>
        {% if publi.place %}[{% include maybe-link.html entry=publi.place %}]{% endif %}
        <br/>
        {{ publi.authors }}
        <br/>
        <ul class="details">
            {% if publi.doi %}<li><a href="{{ publi.doi }}">DOI</a></li>{% endif %}
            {% if publi.arxiv %}<li><a href="{{ publi.arxiv }}">arXiv</a></li>{% endif %}
            {% if publi.pdf %}<li><a href="{{ publi.pdf }}">PDF</a></li>{% endif %}
        </ul>
    </td>
</tr>
